/* 
    CSS Guide 

    1.  General Styles
    2.  Header Styles
    3.  Footer Styles
    4.  Home Page Styles
        4.1.  Countdown Hero Section
        4.2.  Discover IDP Section
        4.3.  Client Testimonials Section
    5.  About Page Styles
        5.1.  Hero Section
        5.2.  Industry Night Overview Section
        5.3.  Informative Video Section
        5.4.  Industry Night Stats Section
        5.5.  Industry Night Info Section
        5.6.  Industry Night Itinerary Section
        5.7.  IDP Program Overview Section
*/


@font-face {
    font-family: 'Hanson-Bold';
    src: url("../fonts/Hanson-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Karrera-Regular';
    src: url("../fonts/Karrera-Regular.otf") format("opentype");
}


/* 1. ---General Styles--- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

img, embed, object, video, picture {
    max-width: 80%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
}

p {
    line-height: 2em;
    font-size: 18px;
}

.spacer {
    margin-top: 60px;
}

.txt-spacer {
    margin-top: 25px;
}

.heading {
    font-family: 'Hanson-Bold';
}

.heading-alt {
    font-family: 'Hanson-Bold';
    color: #171717;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    letter-spacing: 3px;
}

.sub-heading {
    font-family: 'Karrera-Regular';
}

.button-style {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 16px 32px;
    padding-top: 10px;
    font-size: 18px;
    width: 165px;
    font-family: 'Karrera-Regular';
}

.button-style:hover {
    border-color: #404041;
    background-color: white;
    color: #171717;
    cursor: pointer;
}

/* ---End of General Styles--- */


/* 2. ---Header Styles--- */

header .logo {
    width: 100%;
}

.sticky-header {
    position: sticky;
    background-color: black;
    z-index: 10;
    top: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#hamburger-menu {
    visibility: hidden;
    background-color: #171717;
    background-image: linear-gradient(#95232345, #1c1b1b);
    color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#hamburger-menu ul li {
    list-style: none;
    line-height: 4em;
    font-size: 20px;
}

#hamburger-menu ul li:hover {
    cursor: pointer;
}

#hamburger-open, #hamburger-close {
    font-size: 30px;
}

#hamburger-open:hover, #hamburger-close:hover {
    cursor: pointer;
}

.main-nav {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Karrera-Regular';
}

.main-nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    font-size: 20px;
}

.main-nav ul li:last-of-type {
    margin-right: 0;
}

.main-nav ul li:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .main-nav ul li {
        margin-right: 30px;
        font-size: 18px;
    }
}

/* ---End of Header Styles--- */


/* 3. ---Footer Styles--- */

footer {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer-nav ul li {
    list-style-type: none;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-nav ul li:last-of-type {
    margin-bottom: 0;
}

.footer-heading {
    color: #952322;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Hanson-Bold';
}

.socials ul li {
    display: inline;
    margin-right: 15px;
    font-size: 28px;
}

.socials ul li:last-of-type {
    margin-right: 0;
}

footer hr {
    border: none;
    height: 1px;
    background-color: white;
}

@media screen and (max-width: 1199px) {
    .footer-text {
        font-size: 18px;
    }

    .footer-heading {
        font-size: 28px;
    }

    .footer-nav ul li {
        font-size: 20px;
    }

    .socials ul li {
        font-size: 25px;
    }
}

/* ---End of Footer Styles--- */


/* 4. ---Home Page Styles--- */

#home-page-bg {
    background-color: #171717;
    color: white;
    background-image: url(../images/home-hero-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 140%
}

@media screen and (max-width: 1199px) {
    #home-page-bg {
        background-size: 190%
    }
}

@media screen and (max-width: 767px) {
    #home-page-bg {
        background-size: 200%
    }
}

/* Hero Section */

.countdown-heading {
    text-shadow: 2px 5px 5px #952322;
}

.countdown-sub-heading {
    color: #FFE2E2;
}

.timer p {
    list-style-type: none;
    display: inline-block;
    margin-right: 70px;
    font-size: 80px;
    line-height: 50px;
}

.timer p span {
    font-size: 20px;
    font-family: 'Karrera-Regular';
    text-shadow: 1px 4px 5px rgba(255, 255, 255, 0.344);
}

.timer p:last-of-type {
    margin-right: 0;
}

.countdown-section i {
    font-size: 300%;
}

@media screen and (max-width: 1199px) {
    .timer p {
        font-size: 60px;
    }
}

@media screen and (max-width: 767px) {
    .timer p {
        margin-right: 0;
        line-height: 30px;
        margin-bottom: 50px;
    }

    .timer p:last-of-type {
        margin-bottom: 0;
    }
}

/* Discover IDP Section */

.discover-heading {
    background-color: #952322;
    width: 60%;
    border-radius: 40px;
    position: relative;
    justify-items: center;
}

.discover-heading-text {
    margin-top: auto;
    margin-bottom: auto;
}

.discover-heading-text h2 {
    font-size: 40px;
}

.discover-heading-text span {
    font-size: 20px;
}

.discover-content {
    background-color: white;
    color: #171717;
    border-radius: 40px;
    width: 80%;
    z-index: 9;
    margin-top: -150px;
    padding-top: 170px;
}

.discover-content .button-style {
    border-color: #952322;
    color: #952322
}

.discover-content .button-style:hover {
    background-color: #952322;
    border-color: white;
    color: white;
}

.discover-gallery {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.discover-gallery .heading {
    color: #952322;
}

@media screen and (max-width: 1199px) {
    .discover-heading-text h2 {
        font-size: 25px;
    }
    
    .discover-heading-text span {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .discover-heading-text h2 {
        font-size: 15px;
    }
    
    .discover-heading-text span {
        font-size: 10px;
    }

    .discover-content {
        width: 100%;
        margin-top: -90px;
        padding-top: 110px;
    }
}

/* Testimonials Section */

.testimonials-text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.testimonials-text p {
    font-size: 18px;
}

.folders {
    width: 70%;
}

.folders div:hover {
    cursor: pointer;
}

.folders p {
    margin-top: 10px;
}

@media screen and (max-width: 1199px) {
    .folders {
        width: 80%;
    }

    .folders p {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .folders {
        width: 80%;
        overflow: auto;
        white-space: nowrap;
        display: flex;
    }

    .folders img {
        margin-right: 100px;
    }

    .folders p {
        margin-left: -18px;
    }
}

/* ---End of Home Page Styles--- */


/* 5. ---About Page Styles--- */

#about-page-bg {
    background-color: #171717;
    color: white;
    background-image: url(../images/about-hero-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 40%
}

@media screen and (max-width: 1199px) {
    #about-page-bg {
        background-size: 60%
    }
}

@media screen and (max-width: 767px) {
    #about-page-bg {
        background-size: 90%
    }
}

/* Hero Section */

#about-hero-section .heading {
    text-shadow: 1px 4px 5px rgba(255, 255, 255, 0.344);
}

#about-hero-section .sub-heading {
    font-size: 30px;
}

.discover-more p {
    font-family: 'Karrera-Regular';
    margin-bottom: 5px;
    font-size: 20px;
}

.discover-more i {
    font-size: 45px;
    color: #952322;
}

/* Industry Night Overview Section */

#industry-night-overview {
    background-color: black;
    border: 2px solid white;
    border-top: 40px solid white;
    width: 90%;
    padding: 20px;
}

#industry-night-overview h2 {
    font-size: 25px;
}

/* Informative Video Section */

#informative-video video:hover {
    cursor: pointer;
}

/* Industry Night Stats Section */

#industry-night-stats {
    background-image: linear-gradient(#95232325, #1c1b1b1e);
    padding-top: 40px;
    padding-bottom: 40px;
}

#industry-night-stats .heading {
    font-size: 30px;
    line-height: 1.2em;
}

#industry-night-stats .divider {
    border-right: 2px solid white;
}

@media screen and (max-width: 1199px) {
    #industry-night-stats .heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    #industry-night-stats .divider {
        border-right: none;
    }

    #industry-night-stats hr {
        border: none;
        height: 2px;
        background-color: white;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/* Industry Night Info Section */

#industry-night-info .heading {
   font-size: 30px;
}

#industry-night-info .sub-heading {
    font-size: 28px;
    margin-bottom: 10px;
}

.info-discover {
    border-top: 2px solid white;
    padding-top: 30px;
}

.info-connect {
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}

/* Industry Night Itinerary Section */

.itinerary-heading {
    padding: 20px;
    position: relative;
    background-color: #171717;
    text-shadow: 2px 5px 5px #952322;
}

.itinerary-text {
    border: 1px solid white;
    border-radius: 40px;
    padding: 50px;
    z-index: 9;
    margin-top: -55px;
    padding-top: 60px;
}

.section-divider {
    border: none;
    height: 4px;
    background-color: white;
}

/* IDP Program Overview Section */

.overview-con-1 {
    background-color: black;
    border: 2px solid white;
    border-top: 40px solid white;
    width: 100%;
    z-index: 7;
}

.overview-con-2 {
    background-color: black;
    border: 2px solid white;
    border-top: 40px solid white;
    width: 80%;
    padding: 45px;
    z-index: 8;
    position: relative;
    margin-top: -360px;
}

.overview-con-2 h2 {
    font-size: 25px;
}

.overview-con-3 {
    background-color: black;
    border: 2px solid white;
    border-top: 40px solid white;
    width: 100%;
    position: relative;
    z-index: 9;
    margin-top: -450px;
    margin-left: -80px;
}

@media screen and (max-width: 1199px) {
    .overview-con-1, .overview-con-2, .overview-con-3 {
        width: 100%;
    }

    .overview-con-2, .overview-con-3 {
        margin-top: 0;
        margin-left: 0;
        position: static;
    }
}

@media screen and (max-width: 767px) {
    .overview-con-1, .overview-con-2, .overview-con-3 {
        width: 100%;
    }

    .overview-con-2, .overview-con-3 {
        margin-top: 0;
        margin-left: 0;
        position: static;
    }
}

/* ---End of About Page Styles--- */